
<h2>Assignement Dashboard</h2>

<br><br>

<main >

  <div class="haut">

  <a routerLink="/add">
<button class="high" mat-flat-button color="accent">Ajouter Assignment</button></a>

<button class="high" mat-raised-button color="accent" (click)="PeuplerBD()">Peupler de la BDD</button>

<br><br>

<input mat-raised-input [(ngModel)]="searchItem" name="searchItem" type="search"  class="form-control" placeholder=" Rechercher assignement">

<br>

<button mat-raised-button color="primary" (click)="premierePage()">Page Premiere</button>

<button mat-flat-button color="primary"  (click)="pagePrecedente()" >Page precedente</button>

<button mat-raised-button color="primary" (click)="pageSuivante()">Page suivante</button>

<button mat-raised-button color="primary" (click)="dernierePage()">Derniere page</button>

<button mat-raised-button color="accent" >Rendu <mat-checkbox (click)="filtreRendu()" ></mat-checkbox></button>

<button mat-raised-button color="accent" >Non Rendu <mat-checkbox (click)="filtreNonRendu()" ></mat-checkbox></button>



</div>

<br><br>

 <!-- <table *ngFor="let a of assignments | filter:searchItem">

    <nav>
        <a routerLink="/assignment/{{a.id}}">



                <ng-container >
                  <th mat-line><strong>Nom eleve : </strong> {{a.nom}}</th>

                  <mat-icon mat-list-icon *ngIf="a.rendu">done</mat-icon>
                </ng-container>


              <h3 mat-subheader><strong>Date de rendu de son devoir : </strong> {{a.dateDeRendu | date}}</h3>

              <mat-list-item [ngClass]="{'rendu':a.rendu, 'nonRendu':!a.rendu}"(click)="assignmentClique(a)">


              <p *ngIf="a.rendu; else nonsoumis"> <strong>Statut du devoir : </strong> Devoir Rendu</p>


                <ng-template #nonsoumis> <p><strong>Statut du devoir : </strong>Devoir non Rendu</p></ng-template>

              </mat-list-item>



        </a>
    </nav>

  </table>
   <br><br><br><br>-->
   <table mat-table [dataSource]="assignments |filter:searchItem" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef><strong>id</strong></th>
      <td mat-cell *matCellDef="let element"> {{ element.id }}  </td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef><strong>Nom Elève</strong></th>
      <td mat-cell *matCellDef="let element" >{{ element.auteur }}</td>
    </ng-container>
    
    <ng-container matColumnDef="nomDevoir">
      <th mat-header-cell *matHeaderCellDef><strong>Nom du Devoir</strong></th>
      <td mat-cell *matCellDef="let element"> {{ element.nom}}  </td>
    </ng-container>
    
    <ng-container matColumnDef="dateDeRendu">
      <th mat-header-cell *matHeaderCellDef><strong>Date de rendu</strong></th>
      <td mat-cell *matCellDef="let element">
        {{ element.dateDeRendu | date }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="rendu">
      <th mat-header-cell *matHeaderCellDef><strong>Rendu</strong></th>
      <td mat-cell *matCellDef="let element">{{ element.rendu }}</td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> <strong>Details</strong> </th>
      <td mat-cell *matCellDef="let element">  <a routerLink="/assignment/{{element.id}}"> <img src="https://img.icons8.com/color/48/000000/details.png" alt="détail"> </a> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <br><br><br><br><br><br>

</main>
