
<h2 class="page-header"><strong>Bienvenue </strong></h2>

<br>

<h6> Afin d'utiliser notre app veuillez remplir ce formulaire afin de vous inscrire et de profiter de nos fonctionnalités</h6>

<br>
<form (submit)="onRegisterSubmit()" >
  <div class="form-group">
    <label for="name"><strong>Name</strong></label>
    <input  [(ngModel)]="name" name="name" type="text" class="form-control" id="name" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="username"><strong>Username</strong></label>
    <input [(ngModel)]="username" name="username" type="text"  class="form-control" id="username" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="email"><strong>Email</strong></label>
    <input  type="email" [(ngModel)]="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
  </div>
  <div class="form-group">
    <label for="password"><strong>Password</strong></label>
    <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder=" Enter Password">
  </div>
<br>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>

<br><br>

