<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand " href="#">MEAN STACK PROJECT</a>


    <button class="navbar-toggler"  id="toogle" (click)="open_toogle()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse " id="navbarColor01">


      <ul class="navbar-nav me-auto">

        <li ><a class="nav-link "
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"

          [routerLink]="['/']" >Home
          </a>
        </li>

      </ul>


     <ul class="navbar-nav me-auto"
     >


        <li ><a class="nav-link "
          *ngIf="!authService.getAuthStatus()"

          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"

          [routerLink]="['/login']" >Login
          </a>
        </li>

  <li ><a class="nav-link "
    *ngIf="!authService.getAuthStatus()"


          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"

          [routerLink]="['/register']" >Register
          </a>
        </li>


        <li ><a class="nav-link "

          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"

          [routerLink]="['/assignments']" >Assignement Dashboard
          </a>
        </li>

        <li ><a class="nav-link "
          *ngIf="authService.getAuthStatus()"
          [routerLinkActive]="['active']"

          (click)="onLogoutClick()"

           >Logout
          </a>
        </li>


      </ul>
    </div>
  </div>
</nav>
