<br><br>

<h2><strong>Bienvenue </strong> </h2>

<div class="presentation">



  <div>

    <br><br><br>

    <br><br>
    <h5>Ce projet est réalisé par</h5> <br>
    <ul>
      <li>Othman MEKOUAR</li>
      <li>Fatou Seck</li>
    </ul>

    <br><br>

    <h5>Ce projet est un MEAN Stack Project : </h5> <br>

    <ul>
      <li>Mongodb Base de donnée</li>
      <li>Express Serveur</li>
      <li>Angular User Interface Front-end</li>
      <li>Node Js serveur</li>
    </ul>

    <br><br>

    <h5>Ce Projet comporte : </h5> <br>

    <ul>
      <li>Authentification via JSON Web Token</li>
      <li>CRUD ( Assignement )</li>
      <li>Pages sécurisé ( Auth Guard )</li>
      <li>Identifiant et token stocké dans le local storage du client et valable pour une durée de 24h</li>
      <li>Messages d'alert via des Flash messages ( succes , danger ) </li>
    </ul>

    <br><br>

    <h5>Déploiement du projet </h5> <br>

    <ul>
      <li>L'app MEAN STACK sera déployé sur HEROKU via le lien suivant : ... </li>
      <li>Pour lancer en local il suffira de :</li>
      <li>Lancer le back-end depuis le repertoire api qui va lancer le back-end de l'app et ce sur le port 8010</li>
      <li>Lancer le Front-end depuis le repertoire AssignementApp qui va lancer le Front-end de l'app et ce sur le port 4200</li>
      <li>Changer l'URI de la BDD depuis server.js et config/database et mettre celle de votre BDD</li>
    </ul>

    <br><br>



    <h5>Remerciements</h5> <br>

    <ul>
      <li>Par la même occasion nous tenons a remercier Mr BUFFA pour ce projet qui nous a appris les choses suivantes :</li>
      <li>Angular Front-end devellopement ( Angular CLI )</li>
      <li>Authentification via JSON web token ( Angular-jwt , jsonwebtoken ) </li>
      <li>Lancer des requetes test du back-end via postman pour s'assurer que cela tourne bien avant de le connecter au front end via http request</li>
      <li> Sécurité des routes ( Auth Guard )</li>
      <li>Connecter le back au front ( HTTP module )</li>
      <li>Connecter la BDD au back end ( Moongoose )</li>

    </ul>

    <br><br><br><br>

  </div>






</div>

