
<h2>Modification / Supression du devoir</h2>

<br>

<mat-card *ngIf="assignmentTransmis">

  <br>

  <mat-card-title><h5>Nom de l'eleve :</h5> {{assignmentTransmis.auteur}}</mat-card-title>

  <br><br>

  <mat-card-subtitle><h5>Date de rendu : </h5>{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>

  <br><br>

  <mat-card-subtitle><h5>Remarques : </h5>{{assignmentTransmis.remarques}}</mat-card-subtitle>

  <br><br>

  <div class="matiere">

  <mat-card-subtitle><h5>Matiere : </h5>{{assignmentTransmis.matiere}}</mat-card-subtitle>

  <img src={{assignmentTransmis.imgMatiere}} alt="photo matiere">

</div>

  <br><br>
  <img src={{assignmentTransmis.imgProf}} alt="Photo prof">

  <br><br>

  <div id="bottom">
  

    <button mat-raised-button font-color="white" color="warn"><mat-checkbox *ngIf="!assignmentTransmis.rendu" [checked]="assignmentTransmis.rendu" (click)="onAssignmentRendu()">

      <strong>RENDU</strong></mat-checkbox>
    </button>
    <nav>
      <a routerLink="/assignment/{{assignmentTransmis.id}}/edit">
        <button mat-raised-button color="primary">
          EDIT
        </button>
      </a>
    </nav>

    <button mat-raised-button color="warn" (click)="onDeleteAssignment()">
      DELETE
    </button>

  </div>
</mat-card>

<br><br><br><br>
